body{
  text-align: center;
}
.box-container{
  display: flex;
  justify-content: center;
}
.box{
  height:250px;
  width:250px;
  border:10px solid black;
  margin: 2.25rem;
  border-radius: 20%;
}
.red{
  background-color: #d95980;
}
.green{
  background-color: #63aac0;
}
.yellow{
  background-color: #f99b45;
}
.purple{
  background-color: #819ff9;
}
.flash{
  background-color: white;
  
}